
.vs/LightGun/v17/DocumentLayout.json
.vs/LightGun/v17/DocumentLayout.backup.json
.vs/LightGun/v17/.suo
.vs/LightGun/FileContentIndex/ea94edec-3c9a-40e0-a6b6-001aef0a90be.vsidx
.vs/LightGun/FileContentIndex/e6691651-acd7-4119-99f7-d4d1abd3b550.vsidx
.vs/LightGun/FileContentIndex/df937cf7-b798-4c96-a59d-3f25a265cce2.vsidx
.vs/LightGun/FileContentIndex/cbd9484c-b85e-4e67-babd-d44b68afa587.vsidx
.vs/LightGun/FileContentIndex/58d4c069-31b8-45f1-a023-f45b6c9722da.vsidx
.vs/LightGun/FileContentIndex/4ba59aeb-97ca-4a5c-b84c-ec2da8396600.vsidx
.vs/LightGun/FileContentIndex/3a264d9b-1a8e-4fc4-beb8-75b4de2001b0.vsidx
.vs/LightGun/FileContentIndex/3956a7d3-7149-4e3b-b868-83af6d4f4601.vsidx
.vs/LightGun/DesignTimeBuild/.dtbcache.v2
.vs/LightGun/DesignTimeBuild/.dtbcache.v2
.vs/LightGun/FileContentIndex/3a264d9b-1a8e-4fc4-beb8-75b4de2001b0.vsidx
.vs/LightGun/FileContentIndex/df937cf7-b798-4c96-a59d-3f25a265cce2.vsidx
.vs/LightGun/FileContentIndex/e6691651-acd7-4119-99f7-d4d1abd3b550.vsidx
.vs/LightGun/v17/.suo
.vs/LightGun/v17/DocumentLayout.backup.json
.vs/LightGun/v17/DocumentLayout.json
.vs/LightGun/DesignTimeBuild/.dtbcache.v2
.vs/LightGun/FileContentIndex/3a264d9b-1a8e-4fc4-beb8-75b4de2001b0.vsidx
.vs/LightGun/FileContentIndex/df937cf7-b798-4c96-a59d-3f25a265cce2.vsidx
.vs/LightGun/FileContentIndex/e6691651-acd7-4119-99f7-d4d1abd3b550.vsidx
.vs/LightGun/v17/.suo
.vs/LightGun/v17/DocumentLayout.backup.json
.vs/LightGun/v17/DocumentLayout.json
*.vsidx
/.vs/LightGun/CopilotIndices
/.vs/LightGun/CopilotIndices
/.vs/LightGun/CopilotIndices
/.vs/LightGun/CopilotIndices
/.vs/LightGun
